form {  /** à revoir **/
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.contactinfo {
  display: inline-block;
  text-align: center;
}

#content_inner {
    width: 960px;
    margin: auto;
    padding-top: 0;
}

.nopaddingleft {
  padding-left: 0px;
}

.gmaps-frame {
  height: 480px;
  border: 0;
  width: 100%;
  display: list-item;
}

.mapit {
  height: auto;
}

.input_error{
  border-color: red;
}

.input_error:focus {
    border-color: red;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px red;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px red;
}
