<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="utf-8">
    <title>Back office</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{cssbackoffice/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{cssbackoffice/baseback.css}" rel="stylesheet">
<link th:href="@{cssbackoffice/homeback.css}" rel="stylesheet">
</script>
</head>

<body class="style_body">

<nav class="navbar navbar-default bleu_royal_clair">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="homeback">Back office</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="formulaire_contact">Formulaire</a></li>
        <li><a href="modifier">Modification</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">

      <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"></label>
          <div class="col-md-4 text-center">
            <div class="btn-group" data-toggle="buttons">
                <label id="href_ajouter" class="btn btn-default active center-block">
                  <input role="presentation" type="radio">
                   Contact
                </label>
                <label id="href_supprimer" class="btn btn-default center-block">
                  <input role="presentation" type="radio">
                  Devis
                </label>
                <label id="href_modifier" class="btn btn-default center-block">
                  <input role="presentation" type="radio">
                  Recrutement
                </label>
            </div>
        </div>
      </div>


       <div class="row margin_bottom_quarante">
       <div class="col-xs-offset-1 col-xs-10 no_padding grand_rectangle margin_top_vingt">
         <table class="table table-striped">
           <thead>
             <tr>
               <th>#</th>
               <th>Type</th>
               <th>Nom</th>
               <th>Email</th>
             </tr>
           </thead>
           <tbody>
             <tr th:each="contact : ${contacts}"class="test" onclick="document.location = 'connexion.html';">
               <th scope="row" th:text="${contact.idContact}"></th>
               <td th:text="${contact.dateContact}"></td>
               <td th:text="${contact.nom}"></td>
               <td th:text="${contact.mail}"></td>
             </tr>
             <tr th:each="devi : ${devis}"class="test" onclick="document.location = 'connexion.html';">
               <th scope="row" th:text="${devi.idDevis}"></th>
               <td th:text="${devi.dateDevis}"></td>
               <td th:text="${devi.nom}"></td>
               <td th:text="${devi.mail}"></td>
             </tr> 
              <tr>
               <th scope="row">2</th> 
               <td>contact</td>
               <td>Thornton</td>
               <td>@fat</td>
             </tr>
             <tr>
               <th scope="row">3</th>
               <td>Recrutement</td>
               <td>the Bird</td>
               <td>@twitter</td>
             </tr>
             <tr>
               <th scope="row">4</th>
               <td>Devis</td>
               <td>Otto</td>
               <td>@mdo</td>
             </tr>
             <tr>
               <th scope="row">5</th>
               <td>contact</td>
               <td>Thornton</td>
               <td>@fat</td>
             </tr>
             <tr>
               <th scope="row">6</th>
               <td>Recrutement</td>
               <td>the Bird</td>
               <td>@twitter</td>
             </tr>
             <tr>
               <th scope="row">7</th>
               <td>Devis</td>
               <td>Otto</td>
               <td>@mdo</td>
             </tr>
             <tr>
               <th scope="row">8</th>
               <td>contact</td>
               <td>Thornton</td>
               <td>@fat</td>
             </tr>
             <tr>
               <th scope="row">9</th>
               <td>Recrutement</td>
               <td>the Bird</td>
               <td>@twitter</td>
             </tr>
             <tr>
               <th scope="row">10</th>
               <td>Devis</td>
               <td>Otto</td>
               <td>@mdo</td>
             </tr>
             <tr>
               <th scope="row">11</th>
               <td>contact</td>
               <td>Thornton</td>
               <td>@fat</td>
             </tr>
             <tr>
               <th scope="row">12</th>
               <td>Recrutement</td>
               <td>the Bird</td>
               <td>@twitter</td>
             </tr>
             <tr>
               <th scope="row">13</th>
               <td>Devis</td>
               <td>Otto</td>
               <td>@mdo</td>
             </tr>
             <tr>
               <th scope="row">14</th>
               <td>contact</td>
               <td>Thornton</td>
               <td>@fat</td>
             </tr>
             <tr>
               <th scope="row">15</th>
               <td>Recrutement</td>
               <td>the Bird</td>
               <td>@twitter</td>
             </tr>
           </tbody>
         </table>
         <p class="text_center no_margin bas_rectangle">
              Formulaires
         </p>
       </div>

    </div>


  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="js/Chart.js"></script>
       <script src="js/globaljs.js"></script>



</body>
</html>
