<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
    <title>Back office</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{cssbackoffice/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{cssbackoffice/baseback.css}" rel="stylesheet">
    <link th:href="@{cssbackoffice/homeback.css}" rel="stylesheet">
  <link th:href="@{cssbackoffice/modification.css}" rel="stylesheet">
</head>

<body class="style_body">

  <nav class="navbar navbar-default bleu_royal_clair">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="homeback">Back office</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="formulaire">Formulaire</a></li>
          <li><a href="modification_modifier">Modification</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">

     <div class="row">

      <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"></label>
          <div class="col-md-4 text-center">
            <div class="btn-group">

                <div id="ajouter" class="btn btn-default active center-block">
                  <a href="modification_ajouter_gca">
                  Ajouter
                  </a>
                </div>
                <div id="href_supprimer" class="btn btn-default center-block">
                  <a href="modification_supprimer_gca">
                  Supprimer
                  </a>
                </div>
                <div id="href_modifier" class="btn btn-default center-block">
                  <a href="modification_modifier_gca">
                  Modifier
                  </a>
                </div>
            </div>
        </div>
      </div>

    </div>

    <p class="text_center style_titre_modification margin_top_vingt">Modifier page GCA</p>
         
         
       <div class="col-xs-offset-1 col-xs-10 no_padding grand_rectangle margin_top_vingt">  
         <table class="table table-striped">
           <thead>
             <tr>
               <th>Numéro</th>
               <th>Titre</th>
               <th>Action</th>
             </tr>
           </thead>
           <tbody>
             <tr th:each="gca : ${gcas}">
               <th scope="row" th:text="${gca.idGca}"></th>
               <td th:text="${gca.titreGca}"></td>
               <td><a th:href="'modifier_details_gca?idGca='+${gca.idGca}">Modifier</a><td>
             </tr> 
           </tbody>
         </table>
         </div>








    </div>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  
</body>

</html>
